<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <!--<li><a href="{{ root_url }}/blog/archives">Archives</a></li> -->
  <li><a href="{{ root_url }}/wedding-details/">Wedding details</a></li>
  <li><a href="{{ root_url }}/gifts/">Gifts</a></li>
  <li><a href="{{ root_url }}/calendar/">Calendar</a></li>
  <li><a href="{{ root_url }}/activities/">Activities</a></li>
  <li><a href="{{ root_url }}/accommodations/">Accommodations</a></li>
  <li><a href="{{ root_url }}/transportation/">Transportation</a></li>
  <li><a href="{{ root_url }}/whos-who/">Who's who</a></li>
  <li><a href="{{ root_url }}/faq/">FAQ</a></li>
</ul>
